*{
    padding: 0;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    display: flex;
    flex: 1; /* Ocupa o espaço restante vertical */
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  
  .back-recuperar{
      margin-top: 10%;
      justify-content:center ;
      background-color: rgb(226, 226, 226);
  }
  .container {
      text-align: center;
  }
  .recuperar-senha {
      background-color: rgb(255, 255, 255);
      border: 1px solid black;
      border-radius: 12px;
      width: auto;
      height: 75%;
      box-shadow: 3px 3px 3px rgb(73, 68, 68);
      padding: 100px;
  }
  .painel img{
      text-align: center;
      margin-top: 15px;
  }
  .painel-mensagem{
      font-size: 16px;
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  .painel-botao{
      margin-top: 10px;
      margin-bottom: 19px;
  }