@media only screen and (max-width: 1024px) {
  .cabecalho-primario {
    display: none;
  }

  .cabecalho-secundario-cpaas img{
    height: 84px;
    width: auto;
    margin-top: -20px;
    margin-left: -30px;
  }
  
  .main-produto {
    padding: 10px;
  
  }

  .main-produto-obj {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-produto-titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .main-produto-titulo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

  .main-produto-titulo img {
    display: none;
    width: 40%;
    margin-right: 400px;
  }

  .main-produto-titulo h2 {
    font-size: 18px;
    margin-left: 0;
  }

  .main-produto-titulo a {
    font-size: 14px;
    margin-left: 0;
  }
  .main-produto-titulo a:hover{
    font-size: 14px;
    text-decoration: none;

  }

  .main-produto-descri-texto {
    width: 100%;
  }

  .main-produto-descri-texto h2 {
    font-size: 18px;
  }

  .main-produto-descri-texto p {
    font-size: 14px;
    margin-left: 0;
  }

  .main-produto-descri {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .main-produto-descri img,
  .main-produto-obj img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .main-produto-obj-texto h2 {
    font-size: 18px;
  }

  .main-produto-obj-texto p {
    font-size: 14px;
    margin-left: 2px;
    margin-right: 0;
  }

  .main-produto-obj-texto ol,
  .main-produto-obj-texto ol li {
    font-size: 14px;
    margin-left: 7px;
    margin-right: 0;
  }

  .main-produto-obj-texto ol li h3 {
    font-size: 14px;
  }
}

.main-produto-titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.main-produto-back{
  display: flex;
  
}
.main-produto-back img{
  margin-top: 150px;
  margin-left: 150px;
  width: 800px;
  height: auto;
}
.main-produto-titulo h2{
  font-size: 45px;
  color: #000000;
  margin-left: 110px;
  margin-top: 270px;
  margin-bottom: 40px;
  font-weight: bold;
}

.main-produto-titulo a{
  background-color: #003b71;
  color: #fff;
  font-size: 30px;
  border-radius: 15px;
  padding: 10px;
  margin-left: 120px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}
.main-produto-titulo a:hover{
  text-decoration: none;
  font-size: 31px;
}
.main-produto-descri{
  display: flex;
  gap: 20px;
  margin-top: 180px;
}
.main-produto-descri-texto{
  width: 60%;
  margin-top: 80px;
  
}
.main-produto-descri-texto h2{
  text-align: center;
  font-size: 35px;
  color: #003b71;
  font-weight: bold;
}
.main-produto-descri-texto p{
  font-size: 18px;
  margin-left: 40px;
  font-weight: bold;
}
.main-produto-descri img{
  margin-top: 20px;
  height: 420px;
  width: auto;
}
.main-produto-obj{
  display: flex;
  gap: 20px;
  margin-top: 80px;
  margin-bottom: 100px;
}
.main-produto-obj img{
  margin-top: 20;
  height: 470px;
  width: auto;
  margin-left: 40px;
}
.main-produto-obj-texto h2{
  text-align: center;
  font-size: 35px;
  color: #003b71;
  font-weight: bold;
}
.main-produto-obj p {
  font-size: 18px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: bold;
}
.main-tell-back img{
  width: 500px;
  height: auto;
  margin-left: 400px;
  margin-top: 75px;
}

.main-produto-obj li {
  font-size: 15px;
  list-style: none;
  margin-left: 70px;
  margin-right: 40px;
  font-weight: bold;
}
h3{
  font-size:17px;
  font-weight: bold;
  color: #003b71;
}
#sms-foto{
  width: 500px;
  height: auto;
  margin-left: 200px;
  margin-top: 95px;
}
#sms-foto2{
  height: 470px;
  width: auto;
  margin-left: 40px;
  margin-top: 150px; 
}
#google-foto{
  width: 800px;
  height: auto;
  margin-left: 400px;
  margin-top: 95px;
}

/* Estilos gerais para dispositivos móveis - HEADER */
@media only screen and (max-width: 1024px) {
  .cabecalho-primario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #31353b;
    display: none;
  }

  .navbar-left,
  .navbar-right {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    padding: 0;
  }

  .navbar-left li,
  .navbar-right li {
    flex-basis: 50%;
    text-align: center;
  }

  .botao-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    margin-top: 10px;
  }

  .botao-login-b {
    padding: 5px;
    font-size: 12px;
  }

  .cabecalho-secundario-cpaas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #003b71;
    color: #fff;
  }

  .cabecalho-secundario-cpaas img{
    height: 84px;
    width: auto;
    margin-top: -20px;
    margin-left: -30px;
  }

  .menu {
    display: none;
  }

  .navbar {
    display: block;
    margin-top: 10px;
    padding: 5px;
  }

  .menu li {
    position: relative;
    display: block;
  }

  .menu-opcoes {
    display: block;
    padding: 5px;
    color: #fff;
    font-weight: bold;
  }

  .menu-opcoes:hover {
    text-decoration: none;
    color: #fff;
  }

  .submenu {
    display: block;
    padding: 5px;
    color: #000;
    background: #fff;
    border: 1px solid #ccc;
  }

  .submenu:hover {
    background-color: #b9b4b5;
    text-decoration: none;
  }

  .menu li ul {
    position: static;
    padding: 0;
    margin-top: 0;
    display: none;
    list-style: none;
  }

  .menu li:hover ul,
  .menu li.over ul {
    display: none;
  }
}

/* Estilos gerais para dispositivos móveis - MAIN */
@media only screen and (max-width: 1024px) {
  .main-cpaas {
    padding: 0;
    margin: 0;
  }

  .main-cpaas-titulo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }

  .cpaas-titulo h1 {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-left: 0px;

  }

  .cpaas-titulo p {
    left: 0;
    margin-right: 0px;
    font-size: 14px;
    margin-left: 0;

  }

  .cpaas-titulo a {
    font-size: 14px;
    margin-left: 0;


  }
  .cpaas-titulo a:hover{
    text-transform: none;
    font-size: 14px;
  }

  .img-inicio-cpaas {
    margin-top: 10px;
    margin-left: 00px;

  }

  .img-inicio-cpaas img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .main-cpaas-descri {
    margin-top: 20px;
  }

  .main-cpaas-descri-pri,
  .main-cpaas-descri-sec {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .main-cpaas-descri-pri h2,
  .main-cpaas-descri-sec h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .main-cpaas-descri-pri p,
  .main-cpaas-descri-sec p {
    font-size: 14px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  .h2-benefi h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .card-beneficios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .card {
    width: calc(50% - 5px);
  }

  .card-text {
    text-align: center;
  }

  .card-text h2 {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .card-text a {
    font-size: 14px;
  }
}
